.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
}

.page-main__catalog {
  @media (min-width: 1150px) {
    margin: 0 auto;
  }
}
