.product {
  position: relative;
  z-index: 2;

  width: 320px;
}

.product__frame {
  position: absolute;
  z-index: -1;

  width: 323px;
  height: 483px;

  stroke-width: 4px;

  &--default {
    stroke: $blue;
  }

  &--hover {
    stroke: $blue-hover;
  }

  &--selected {
    stroke: $lipstick;
  }

  &--selected-hover {
    stroke: $lipstick-hover;
  }

  &--disabled {
    stroke: $greyish;
  }
}

.product__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 476px;
  margin: 0 0 18px 0;
  padding: 0 0 0 49px;

  text-decoration: none;


  &::after {
    content: "";
    position: absolute;
    top: 210px;
    left: 0;
    z-index: -2;

    width: 320px;
    height: 268px;

    background-image: url("../img/bg-cat.png");
    background-repeat: no-repeat;
    border-radius: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;

    width: 320px;
    height: 480px;

    background-image: url("../img/bg-white.svg");
    background-repeat: no-repeat;
    border-radius: 16px;
  }

  &--disabled {
    cursor: not-allowed;
    &::after {
      opacity: 0.5;
    }
  }
}

.product__header {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 0 18px 0;
  padding: 22px 0 0 0;
}

.product__title {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 48px;
  line-height: 1;
  color: $black;

  @include font-main-bold;

  &--disabled {
    color: $greyish;

    opacity: 0.5;
  }
}

.product__key-title {
  display: block;
  margin: 3px 0 0 0;

  font-size: 24px;
}

.product__subtitle {
  margin: 0 0 9px 0;
  padding: 0;

  font-size: 16px;
  color: $grey;

  &--disabled {
    color: $greyish;

    opacity: 0.5;
  }

  &--selected-hover {
    display: none;

    color: $lipstick-hover;
  }
}

.product__desc-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product__desc-item {
  margin: 0;
  padding: 0;

  line-height: 1.14;
  color: $grey;

  &--disabled {
    color: $greyish;

    opacity: 0.5;
  }
}

.product__weight {
  align-self: flex-end;
  box-sizing: border-box;
  width: 81px;
  height: 81px;
  margin: 0 15px 11px 0;
  padding: 10px 0 0 0;

  font-size: 42px;
  line-height: 1.05;
  text-align: center;
  color: $white;

  border-radius: 50%;

  &--default {
    background-color: $blue;
  }

  &--hover {
    background-color: $blue-hover;
  }

  &--selected {
    background-color: $lipstick;
  }

  &--selected-hover {
    background-color: $lipstick-hover;
  }

  &--disabled {
    background-color: $greyish;
  }
}

.product__quantity {
  display: block;
  padding: 4px 0 0 0;

  font-size: 21px;
  line-height: 0.52;
}
